#landingPageBody {
    position: absolute;
    top: 0;
    background-image: url('../../assets/5.jpg');
    background-repeat: repeat;
    height: 240%;
    width: 100%;
}
#landingPageContainer{
    width: 95%;
    margin-left: 2.5%;
    /* background-color: rgba(255, 255, 255, 0.945); */
    background-image: linear-gradient(-45deg, rgb(171, 215, 250,0.9), rgba(181, 236, 220, 0.9));
    border-radius: 5px;
    padding: 20px;
    padding-bottom: 50px;
    margin-top: 50px;
    box-shadow: grey 0 10px 20px;
    /* opacity: 0.9; */
}
#landingTitle{
    font-family: bebas;
    text-align: center;
    font-size: 3rem;
    margin-top: 50px;
}

#landingCaption{
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
    font-family: 'Work Sans',sans-serif;
}
.landingPageBlocks{
    /* background: white; */
    padding: 10px;
    text-align: center;
    font-size: 3rem;
    border-radius: 10px;
}
#landingPageImage1{
    width : 100%;
    left: 40%;
}

#landingButtonsContainer{
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.landingPageCard{
    width: 100%;
    /* background-image: linear-gradient(-45deg, rgba(241, 142, 142, 0.9), rgba(236, 181, 181, 0.9)); */
    border : 1px grey solid;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}
.landinPageCardTop{
    font-size: 1.5rem;
}
.landinPageCardBottom{
    font-size: 0.7rem;
    color : rgb(97, 97, 97);
}
@media screen and (min-width: 768px) {
    #landingPageContainer {
        width: 90%;
        margin-left: 5%;
    }
}