#friendsListGroup{
    width: 95%;
    margin-left: 2.5%;
    margin-top: 30px;
    background: white;
    padding: 10px;
    border-radius: 10px;
}

#showMoreRequests{
    
}

body{
    margin-bottom: 10%;
}