html {
    height: 100%;
}
#profileContainer{
    position: absolute;
    top: 0px;
    height: 250px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url("https://images.unsplash.com/photo-1535478044878-3ed83d5456ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1069&q=80");
    background-size: contain;
    background-size: cover;
    
} 

#profileBody {
    position: absolute;
    top: 230px;
    width: 100%;
    height: auto;
    background: rgb(255, 255, 255);
    /* margin: 2.5%; */
    /* margin-top: 20px; */
    border-radius: 15px;
    padding: 30px;
}

#pageBtn{
    color:white;
}

#friendsBtn{
    color:white;
}

#profileImg {
    position: absolute;
    bottom: 40px;
    left: 20px;
    width: 80px;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 100000px;
    transition: 0.3s;
}

#profileName {
    text-align: center;
    font-size: 2rem;
    margin-top: 30px;
    color:white;
}

#profileUsername {
    text-align: center;
    margin-top: 0px;
    color:white;
}

#profileEditButtonGroup {
    display: block;
    width: 100%;
    left: auto;
    right: auto;
}

#profileBio {
    text-align: center;
    margin-top: 0px;
}

@media screen and (min-width: 768px) {
    #profileContainer {
        position: absolute;
        top: 0px;
        height: 400px;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-image: url("https://images.unsplash.com/photo-1535478044878-3ed83d5456ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1069&q=80");
        background-size: contain;
        background-size: cover;

    }

    #profileBody {
        position: absolute;
        top: 380px;
        width: 100%;
        height: auto;
        background: rgb(255, 255, 255);
        border-radius: 10px;
        padding: 30px;
    }

    #profileImg {
        position: absolute;
        bottom: 80px;
        left: 50px;
        width: 200px;
        height: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        border-radius: 100000px;
        transition: 0.3s;
    }

    #profileName {
        text-align: center;
        font-size: 4rem;
        margin-top: 50px;
        color: white;
    }

    #profileUsername {
        text-align: center;
        margin-top: 0px;
        font-size: 1.5rem;
        color:white;
    }

    #profileEditButtonGroup {
        display: block;
        width: 100%;
        left: auto;
        right: auto;
    }

    #profileBio {
        text-align: center;
        margin-top: 0px;
    }
    #pageBtn {
        font-size: 1.1rem;
    }

    #friendsBtn {
        font-size: 1.1rem;
    }
}