@font-face {
    font-family: bebas;
    src: url(../../assets/BebasKai.otf);
}
#lightBottom {
    position: fixed;
    background: white;
    width: 100%;
    bottom: 0px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 -5px 10px rgb(221, 221, 221);
    z-index: 10;
    color: black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#darkBottom{
    position: fixed;
    background: black;
    width: 100%;
    bottom: -2px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 -5px 10px rgb(100, 100, 100);
    z-index: 10;
    color: white;
}
i{
    color: black;
}
.active{
    color: rgb(230, 32, 32);
}



